.benefits-container {
  background-color:  #B2BEB5;
  padding: 10px;
  font-size: 18px;
}

.benefits-title {
  text-align: center;
  padding-bottom: 10px;
}
/* 
.first-row {
  background-color: orange;
} */

.first-row-col {
  margin: 10px 20px 10px 20px; 
  background-color: whitesmoke;
  padding: 20px;
}

.second-row {
  background-color: whitesmoke;
  margin: 10px 40px 10px 40px !important;
  padding: 20px; 
}

.second-col {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.focus-areas {
  display: grid;
  justify-content: center;

}

.benefits-button-row {
  height: 100px;
}

.benefits-button-col {
  text-align: center;
  padding: 15px;
}